body {
    background-color: #8bb4f7;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

#central-content {
    background-color: white;
    min-width: 375px;
    max-width: 600px;
    min-height: 80vh;
    max-height: 100vh;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

#map {
    width: 95%;
    height: 70vh;
    min-height: 400px;
    background-color: #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

#header {
    color: white;
    font-size: 18pt;
    text-align: center;
    background-color: #054879;
    width: 100%;
    margin-bottom: 30px;
    flex-shrink: 0;
}

.viewDiv {
    height: 85%;
    width: 100%;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

#buttons-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    z-index: 1000;
}
.dropdown {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.submitBtn, .cancelBtn {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.submitBtn:hover, .cancelBtn:hover {
    background-color: #1f80c4;
    color: white;
}
.submitBtn {
    flex: 2;
    margin-right: 5px;
}
.cancelBtn {
    flex: 1;
}

.extra-content {
    justify-content: left;
    width: 90%;
    font-size: 0.7em;
}

#extraComment {
    width: 100%;
    height: 100px;
}

#commentSubmit {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    background-color: #054879;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color:white;
    margin-bottom: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: rgb(254, 254, 254);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
  }

#commentField {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
  }
